<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VybesFront</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.6490b6b9b18fa31d2434.css"></head>
<body>
  <app-root></app-root>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://kit.fontawesome.com/f4f2b70345.js" crossorigin="anonymous"></script>
<script src="runtime-es2015.3ef551164876e304ebed.js" type="module"></script><script src="runtime-es5.3ef551164876e304ebed.js" nomodule defer></script><script src="polyfills-es5.5b2e935b6afa29a98454.js" nomodule defer></script><script src="polyfills-es2015.106f49ffe3fa3d39e707.js" type="module"></script><script src="scripts.1301b9c2beff735dd360.js" defer></script><script src="main-es2015.5c2d76ead6e4161525e7.js" type="module"></script><script src="main-es5.5c2d76ead6e4161525e7.js" nomodule defer></script></body>
</html>
