<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VybesFront</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.e3083902da543c55f8a1.css"></head>
<body>
  <app-root></app-root>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://kit.fontawesome.com/f4f2b70345.js" crossorigin="anonymous"></script>
<script src="runtime-es2015.f9af8ae4abef6106b6bf.js" type="module"></script><script src="runtime-es5.f9af8ae4abef6106b6bf.js" nomodule defer></script><script src="polyfills-es5.b1f5dfff1243f1fd6bc2.js" nomodule defer></script><script src="polyfills-es2015.a8dd8183b631b5f49186.js" type="module"></script><script src="scripts.1301b9c2beff735dd360.js" defer></script><script src="main-es2015.5ecf01fff81da45e2f5e.js" type="module"></script><script src="main-es5.5ecf01fff81da45e2f5e.js" nomodule defer></script></body>
</html>
